@import url('./header.css');
@import url('./footer.css');
@import url('./components.css');

/* ── VARIABLES GLOBALES ─────────────────────── */
:root {
  --primary-orange:    #F2541B;
  --primary-blue:      #1B9CFC;
  --primary-green:     #1BF2C7;
  --bg-light:          #F2F2F2;
  --white:             #FEFFFE;
  --black:             #1C1D1C;
  --grey:              #40383C;
  --red-error:         #F21B2D;
  --font-family-title: 'Kanit', Arial, sans-serif;
  --font-family-text:  'Roboto', Arial, sans-serif;
  --font-size-text:    1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-text);
}